$font-stack:    Brush Script MT,cursive; 
$primary-color: #0033cc
$default-width: 32px
$default-height: 32px

div.tSXwfJQUcQ
    font: 100% $font-stack
    color: $primary-color
    a
        text-decoration: none
    .imglink
        width: $default-width
        height: $default-height