extends _layout.pug

block content
    h1 CSSdoodle History
    main
        table
            thead
                tr
                    th #
                    th name
                    th img
            tbody
                tr
                    td 0
                    td blank
                    td
                        a(target="_blank" href="img/index.png")
                          img(src="img/thumb/index.png")
                include history/_tSXwfJQUcQ