tr
    td tilecounter
    td 
        a(target="_blank" href="https://github.com/yournamehere") yournamehere
    td
        a(target="_blank" href="img/filename.png")
            img(src="img/thumb/filename.png")