tr
    td FAHgoEQXln
    td 
        a(target="_blank" href="https://github.com/palingheorghe") palingheorghe
    td
        a(target="_blank" href="img/FAHgoEQXln.png")
            img(src="img/thumb/FAHgoEQXln.png")