tr
    td tSXwfJQUcQ
    td 
        a(target="_blank" href="https://github.com/blfuentes") blfuentes
    td
        a(target="_blank" href="img/tSXwfJQUcQ.png")
            img(src="img/thumb/tSXwfJQUcQ.png")