div.FAHgoEQXln
    div.loveMe
        a(href="https://github.com/palingheorghe" target='_blank')
            p.text
                | Love
                | me
    a(href="https://github.com/palingheorghe" target='_blank')
        div.container
            div#red.ball_bouncing
            div#crimson.ball_bouncing
            div#yellow.ball_bouncing
            div#green.ball_bouncing
            div#color.ball_bouncing
            div#colors.ball_bouncing
            div#coloring.ball_bouncing