div.tSXwfJQUcQ
    span Hi from Frankfurt
    div.contentDiv
        div.clickable
            div.divImage
            a(href='https://cssfrankfurt.slack.com', onclick="window.open(this.href,'_blank');return false;")      
    span ^ visit me... ^