div.tSXwfJQUcQ
    span Hi from Frankfurt
    div.contentDiv
        div.clickable
            div.divImage
            // Use http://javier.xyz/img2css/ to transform image files into css code                
            a(href='https://cssfrankfurt.slack.com', onclick="window.open(this.href,'_blank');return false;")      
    span ^ visit me... ^