div.tSXwfJQUcQ
    div
        span Hi from Frankfurt
        br
        div
            a(href='https://cssfrankfurt.slack.com', target='_blank') 
                img.imglink(src='/img/frank.png', alt='frank', title='visit the cssfrankfurt slack channel!')
        span ^ visit me... ^